In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

import pandas as pd
vgg_data = pd.read_csv('/content/drive/MyDrive/py_data/data_vgg_final.csv')

df_raw = pd.DataFrame(vgg_data)
df_fulldata = df_raw.drop(columns=['備註1', '備註2', '備註3'])
df_clean = df_fulldata.rename(columns={'地址': 'location', '角度': 'heading', '分數':'score'}).dropna()

df_clean['heading'] = df_clean.heading.astype(int)
df_clean['score'] = df_clean.score.astype(int)
df_clean['param_zip'] = list(zip(df_clean['location'], df_clean['heading']))
df_clean

       index  ...                           param_zip
0          1  ...               (和平西路三段３８４號五樓之４, 135)
1          2  ...            (臺北市北投區尊賢街２４９巷１７號三樓, 90)
2          3  ...                      (尊賢街２２１號二樓, 0)
3          4  ...                 (和平東路三段４５０號九樓, 180)
4          5  ...       (臺北市內湖區大湖山莊街１７６巷１８號２樓之３, 225)
...      ...  ...                                 ...
14301   2857  ...                  (研究院路二段８８號四樓, 315)
14302   2858  ...           (臺北市南港區經貿二路２５５巷５８號六樓, 45)
14303   2859  ...  (臺北市松山區民生東路五段６９巷３弄３０號及30號地下一層, 90)
14304   2860  ...           (臺北市松山區撫遠街３９４巷７之１號三樓, 90)
14306   2862  ...                    (文昌街２７８巷４號七樓, 0)

[13961 rows x 5 columns]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import io
import time
import requests
import json
from io import BytesIO
from PIL import Image
import numpy as np

In [ ]:
# # Set 'inclde_top = False' to extract fc2 (Dense)

import keras
from keras.applications.vgg16 import VGG16

# Set a size which is multiple of 32
# Set 'inclde_top = False' to extract the second last layer of VGG16
SIZE = 224
VGG_model = VGG16(weights='imagenet', include_top=True, input_shape=(SIZE, SIZE, 3))

# Make loaded layers as non-trainable
for layer in VGG_model.layers:
	layer.trainable = False

VGG_model.summary()  #Trainable parameters will be 0

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/vgg16/vgg16_weights_tf_dim_ordering_tf_kernels.h5
553467904/553467096 [==============================] - 7s 0us/step
553476096/553467096 [==============================] - 7s 0us/step
Model: "vgg16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 224, 224, 3)]     0

 block1_conv1 (Conv2D)       (None, 224, 224, 64)      1792

 block1_conv2 (Conv2D)       (None, 224, 224, 64)      36928

 block1_pool (MaxPooling2D)  (None, 112, 112, 64)      0

 block2_conv1 (Conv2D)       (None, 112, 112, 128)     73856

 block2_conv2 (Conv2D)       (None, 112, 112, 128)     147584

 block2_pool (MaxPooling2D)  (None, 56, 56, 128)       0

 block3_conv1 (Conv2D)       (None, 56, 56, 256)       295168

 block3_conv2 (Conv2D)       (None, 56, 56, 256)       590080

 block3_conv3 (Conv2D)       (None, 56, 56, 256)       590080

 block3_pool (MaxPooling2D)  (None, 28, 28, 256)       0

 block4_conv1 (Conv2D)       (None, 28, 28, 512)       1180160

 block4_conv2 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_conv3 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_pool (MaxPooling2D)  (None, 14, 14, 512)       0

 block5_conv1 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv2 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv3 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_pool (MaxPooling2D)  (None, 7, 7, 512)         0

 flatten (Flatten)           (None, 25088)             0

 fc1 (Dense)                 (None, 4096)              102764544

 fc2 (Dense)                 (None, 4096)              16781312

 predictions (Dense)         (None, 1000)              4097000

=================================================================
Total params: 138,357,544
Trainable params: 0
Non-trainable params: 138,357,544
_________________________________________________________________

In [ ]:
# from keras.applications import vgg16
from keras.preprocessing import image
from keras.applications.vgg16 import preprocess_input
from keras.models import Model
# import numpy as np
# import matplotlib.pyplot as plt

In [ ]:
start = 13000
end = 13500
all_data = df_clean['param_zip'].tolist()
data_run = all_data[start:end]
print(len(data_run))

500

In [ ]:
# def my_vgg16(data_run):

# get image from google street static api
pic_base = 'https://maps.googleapis.com/maps/api/streetview?' 
api_key = 'AIzaSyAjUTXINLjy2enx5_vVqnuw0FuXWOVdSFc'

arr_lst = []
print(data_run[0])
print(data_run[-1])

for i in range(len(data_run)):
  current_loc = data_run[i][0]
  current_hd = data_run[i][1]
  
  
  pic_params = {'key':api_key, 'location':current_loc, 'size':"224x224", 'fov':120, 'heading':current_hd} # fov為平視寬窄角度
  pic_response = requests.get(pic_base, params=pic_params)
  im = Image.open(BytesIO(pic_response.content))

  # convert image to array
  image_array = image.img_to_array(im) # keras
  img_arr_lst = image_array.tolist()
  arr_lst.append(img_arr_lst)

print(np.array(arr_lst).shape)

x = np.array(arr_lst)
x = preprocess_input(x)

model_extractfeatures = Model(inputs = VGG_model.input, outputs = VGG_model.get_layer('fc2').output)


fc2_features = model_extractfeatures.predict(x)


print(fc2_features.shape)
np.save('features_fc2_13000_13500', fc2_features)

('安居街８４巷１３號四樓', 135)
('中山北路六段１９５巷１５號六樓之２', 90)
(500, 224, 224, 3)
(500, 4096)